body {
			margin: 0;
			padding: 0;
		}
		h1 {
			text-align: center;
			margin-bottom: 10px;
		}
		section {
			border: 1px solid black;
			padding: 0px;
			margin: 2%;
			width: 190px;
			height: 150px;
			float: left;
			background: gray;
			overflow: auto;
			box-sizing: border-box;
		}
			#p1,#p2,#p3 {
			border: 1px solid black;
			margin:0px;
			padding: 2px;
			width: 50px;
			height: 20px;
			background: skyblue;
			position: relative;
			top:0px;
			float: right;
		}
		#p2 {
			background-color: red;
		}
		#p3 {
			background-color: blue;
		}
		
		@media (min-width:992px)
		{
			.lg-1{
				float: left;
			}
			.lg-1{
				width: 29%;
			}
		}
		@media (min-width:768px) and (max-width:991px)
		{
			.pg-1,.pg-2{
				float: left;
			}
			.pg-1{
				width: 46%;
			}
			.pg-2{
				width: 96.4%;
			}
		}
		@media (max-width:767px)
		{
			.mg-12{
				float: left;
			}
		    .mg-12{
				width: 96%;
			}
		}	
		}